@import "tailwindcss";

@keyframes float {

    0%,
    100% {
        transform: translateY(0px) translateX(0px);
    }

    25% {
        transform: translateY(-30px) translateX(10px);
    }

    50% {
        transform: translateY(0px) translateX(-10px);
    }

    75% {
        transform: translateY(30px) translateX(10px);
    }
}

.animate-float {
    animation: float linear infinite;
}